td, th {
  vertical-align:middle;
}

td > div {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

td > div > h4 {
  margin-bottom:0;
}

td > div > label {
  font-size:1rem;
}

td button {
  max-width:170px;
}
