<h1>À PROPOS</h1>
<h5>
  <strong>Tangularot</strong>
  est une application entièrement réalisée par
  <a href="https://github.com/Tilian-HURE" target="_blank">Tilian HURÉ</a>
  avec le framework
  <a href="https://angular.io/" target="_blank">Angular</a>
  dans la continuité du second semestre d'un BUT Informatique suivit à l'
  <a href="https://www.iut-blagnac.fr/fr/" target="_blank"> IUT de Blagnac</a>.
  Les frameworks CSS
  <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
  et <a href="https://bootswatch.com/yeti/" target="_blank">Bootswatch</a>
  avec le template "Yeti" ont également été utilisés pour simplifier le développement de l'interface graphique.
</h5>
<h5>
  <strong>Tangularot</strong>&nbsp;
  permet aux adeptes du jeu de cartes
  <a href="https://www.le-tarot.fr/" target="_blank">Tarot</a>
  de compter facilement les points obtenus le long de chaque manche d'une partie. Toute partie même terminée peut-être consultée en détail. Les scores sont automatiquement déduits des informations renseignées pour les
  <b>4 joueurs</b>
  d'une manche.
</h5>
