<h1 class="mb-3">MANCHE N°{{ round.number }}</h1>
<form #roundContinuingForm="ngForm" (ngSubmit)="onSubmit(roundContinuingForm)">
  <fieldset>
    <div class="form-group mb-4">
      <h4 class="form-label">Preneur</h4>
      <select [(ngModel)]="round.bettingPlayer.index" class="form-select" name="bettingPlayerSelect" required>
        <option value="0" *ngIf="!playersWhoBet[0]">{{ party.playersName[0] }}</option>
        <option value="1" *ngIf="!playersWhoBet[1]">{{ party.playersName[1] }}</option>
        <option value="2" *ngIf="!playersWhoBet[2]">{{ party.playersName[2] }}</option>
        <option value="3" *ngIf="!playersWhoBet[3]">{{ party.playersName[3] }}</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <h4 class="form-label">Type de pari</h4>
      <select [(ngModel)]="round.bet" class="form-select" name="betSelect" required>
        <option value="1" selected>Petite</option>
        <option value="2">Garde</option>
        <option value="4">Garde sans le chien</option>
        <option value="6">Garde contre le chien</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <h4 class="form-label">Nombre de oudlers</h4>
      <select [(ngModel)]="round.nbOudlers" class="form-select" name="nbOudlersSelect" required>
        <option value="0" selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <h4 class="form-label">Score du preneur</h4>
      <input [(ngModel)]="round.bettingPlayerOriginalScore" type="text" class="form-control" placeholder="Score du preneur" name="bettingPlayerScoreInput" pattern="^(([0-8][0-9]{0,1})|(9[0-1]))$" required>
    </div>
    <div>
      <h4>Primes</h4>
      <div class="form-group mb-4 d-flex flex-nowrap align-items-center">
        <input [(ngModel)]="round.petitAuBout" class="form-check-input mt-0" type="checkbox" value="true" name="petitAuBoutCB" >
        <h5 class="form-check-label mb-0 ms-2">Petit au bout <strong>(+10 points)</strong> <span class="text-muted"> multipliable</span></h5>
      </div>
      <div class="form-group mb-4">
        <h4 class="form-label">Poignée&nbsp;<h5 class="text-muted d-inline">non-multipliable</h5></h4>
        <select [(ngModel)]="round.bonus" class="form-select" name="bonusSelect">
          <option value="0" selected>Aucune poignée</option>
          <option value="20">Simple (+20 points)</option>
          <option value="30">Double (+30 points)</option>
          <option value="40">Triple (+40 points)</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <button class="btn btn-success w-50" type="submit" [disabled]="roundContinuingForm.invalid">Valider la manche</button>
      <button routerLink="/partie/{{ party.id }}" class="btn btn-warning w-50 ms-1">Annuler</button>
    </div>
  </fieldset>
</form>

<div class="alert alert-dismissible alert-danger fixed-top me-2 mt-2 ms-2">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h6 class="mb-0">Une <strong>erreur</strong> s'est produite lors de la mise à jour des données. Veuillez réessayer plus tard.</h6>
</div>
