<h1>Nouvelle partie</h1>
<form #partyAddingForm="ngForm" (ngSubmit)="onSubmit(partyAddingForm)">
  <fieldset>
    <div class="form-group">
      <label class="col-form-label" for="partieLabel">Libellé de la partie</label>
      <input [(ngModel)]="party.label" id="partieLabel" name="partieLabel" type="text" class="form-control" placeholder="Libellé de la partie" maxlength="30" required>
    </div> <br>
    <div>
      <label class="col-form-label" >Joueurs</label>
      <div class="form-group">
        <input [(ngModel)]="party.playersName.player1" name="player1Name" type="text" class="form-control" placeholder="Nom du joueur 1" maxlength="30" required>
      </div>
      <div class="form-group">
        <input [(ngModel)]="party.playersName.player2" name="player2Name" type="text" class="form-control" placeholder="Nom du joueur 2" maxlength="30" required>
      </div>
      <div class="form-group">
        <input [(ngModel)]="party.playersName.player3" name="player3Name" type="text" class="form-control" placeholder="Nom du joueur 3" maxlength="30" required>
      </div>
      <div class="form-group">
        <input [(ngModel)]="party.playersName.player4" name="player4Name" type="text" class="form-control" placeholder="Nom du joueur 4" maxlength="30" required>
      </div>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="partyAddingForm.invalid">Ajouter la partie</button>
    <button routerLink="" class="btn btn-warning">Annuler</button>
  </fieldset>
</form>
