<div class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <h3 class="mb-0">{{ party.label }}</h3>
      <h6 class="text-primary mb-0">{{ (party.state == 0 ? "EN COURS" : "TERMINÉE") }}</h6>
    </div>
    <small class="text-muted">{{ lastRoundTimeLabel }}</small>
  </div>
  <small>Date de début : <span class="text-muted">{{ party.startingDate }}</span>
    <span *ngIf="party.state == 1">
      - Date de fin : <span class="text-muted">{{ party.endingDate }}</span>
    </span>
  </small>
  <div class="d-flex w-100 justify-content-between align-items-center">
    <h6 class="mb-1">
      <strong>Joueurs : </strong> {{ party.playersName.player1 }},
      {{ party.playersName.player2 }},
      {{ party.playersName.player3 }} et
      {{ party.playersName.player4 }}
    </h6>
    <div>
      <button type="button" class="btn btn-primary" routerLink="partie/{{ party.id }}">{{ (party.state == 0 ? "Continuer" : "Consulter") }}</button>
      <button type="button" class="btn btn-warning">Supprimer</button>
    </div>
  </div>
</div>
