<div class="d-flex flex-row align-items-end justify-content-between mb-3">
  <div>
    <h1 class="mb-0">PARTIES</h1>
    <div class="d-flex flex-row flex-wrap">
      <h5 *ngIf="nbParties.totalNbParties > 0" class="mb-0">
        <strong>{{ nbParties.totalNbParties }}</strong>
        partie(s) au total,&nbsp;
      </h5>
      <h5 *ngIf="nbParties.totalNbParties > 0" class="mb-0">
        <strong>{{ nbParties.nbInProgressParties }}</strong>
        en cour et&nbsp;
      </h5>
      <h5>
        <strong>{{ nbParties.nbDoneParties }}</strong>
        terminée(s)
      </h5>
    </div>
  </div>
  <button class="btn btn-lg btn-outline-primary text-nowrap" type="button" routerLink="/partie/nouvelle">Nouvelle partie</button>
</div>

<div *ngIf="nbParties.totalNbParties > 0; else showText" class="list-group">
  <app-partie-item *ngFor="let party of parties|async" [party]="party" (partyIDEvent)="startRemovingDialog($event)" class="list-group-item flex-column align-items-start"></app-partie-item>
</div>
<ng-template #showText>
  <h5 class="text-secondary">Aucune partie</h5>
</ng-template>

<div class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5>Êtes-vous certain(e) de vouloir supprimer cette partie ?</h5>
        <label class="text-muted">Toutes les données seront définitivement perdues.</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="removeParty()">Supprimer</button>
        <button type="button" class="btn btn-secondary" (click)="cancelRemovingDialog()" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-dismissible alert-danger fixed-top me-2 mt-2 ms-2">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  Une <strong>erreur</strong> s'est produite lors de la récupération des données. Veuillez réessayer plus tard.
</div>
